{% extends "inc/base.html" %}
{% load static %}


{% block content %}
    <div class="new_q">
        <p class="fs-2">New Question</p>

        <form action="/ask/" method="post" >
        {% csrf_token %}
            {% for field in form %}
                <div class="mb-3 mt-3">
                    <label for="{{ field.id_for_label }}" class="form-label">
                        {{ field.label }}:
                    </label>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-info">ASK!!!</button>
        </form>

    </div>
{% endblock content %}
