{% extends "inc/base.html" %}
{% load static %}

{% block userblock %}
    {% include "inc/unauthorized.html" %}
{% endblock userblock %}

{% block content %}
    <div class="f_login">
        <p class="fs-2">Log in!</p>
        <div class="alert alert-danger wrong-pas">
            <strong>WOW! </strong> Wrong password!
        </div>
        <form action="/action_page.php" class="was-validated mb-5 ">
            {% csrf_token %}
            {% for form in form_login %}
                <div class="mb-3 mt-3">
                <label for="{{ form.for_id }}" class="form-label">{{ form.Name }}:</label>
                <input type="{{ form.type }}" maxlength="20" class="form-control log_in " autocomplete="off" id="{{ form.for_id }}"
                       placeholder="{{ form.placeholder}}" name="{{ form.name }}"
                       required>
                <div class="valid-feedback">Good :)</div>
                <div class="invalid-feedback">{{ form.invalid}}</div>
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-warning me-3">Log in!</button>
            <button type="submit" class="btn btn-outline-warning">Create new account</button>
        </form>
    </div>
{% endblock content %}
