{% extends "inc/base.html" %}
{% load static %}

{% block userblock %}
    {% include "inc/authorized.html" %}
{% endblock userblock %}

{% block content %}
    {% include "inc/question_one.html" %}
    {% for answer in answers %}
        {% include "inc/answer.html" %}
    {% empty %}
        <div class=" fs-5"> No one has answered yet:( </div>
    {% endfor %}

    {% with answers as page_obj %}
        {% include "inc/pagination.html" %}
    {% endwith %}

    <br>
    <hr>
    <form action="/action_page.php">

        <div class="mb-3 mt-5 new_answer">
            <textarea class="form-control " rows="7" id="text" name="text"></textarea>
        </div>
        <button type="submit" class="btn btn-info answ_but">Answer!!!</button>

    </form>

{% endblock content %}
