{% extends "inc/base.html" %}
{% load static %}

{% block content %}
    <div class="f_login ">
        <p class="fs-2">Registration</p>
        {% if messages %}
            {% for message in messages %}
                {% if message.tag == 'error' %}
                    <div class="alert alert-danger wrong-pas">
                        <strong>WOW! </strong>
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-{{ message.tag }} wrong-pas">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}


        {% for error in user_form.non_field_errors %}
            <div class="alert alert-danger wrong-pas"><strong>WOW! </strong>{{ error }}</div>
        {% endfor %}

        <form action="." class="was-validated m b-5 " method="post" enctype="multipart/form-data">
            {% csrf_token %}


            {% for field in user_form %}
                {% if field.field.is_fileinput %}
                    <div class="mb-4 mt-3">
                        <label for="{{ field.id_for_label }}" class="form-label">Upload:</label>
                        <br>
                        <button type="button" class="btn btn-outline-dark "><label for="{{ field.id_for_label }}"
                                                                                   class="form-label">Upload
                            your avatar &#x1F47B</label></button>
                        {{ field }}
                    </div>
                {% else %}
                    <div class="mb-3 mt-3">
                        {% if field.errors %}
                            <p>{{ field.error }}</p>
                        {% endif %}
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
                        {{ field }}
                    </div>

                {% endif %}

            {% endfor %}
            <br>

            <button type="submit" class="btn btn-info me-3">Register!</button>

        </form>


    </div>
{% endblock content %}
