{% extends "inc/base.html" %}
{% load static %}

{% block userblock %}
    {% include "inc/unauthorized.html" %}
{% endblock userblock %}

{% block content %}
    <div class="f_login ">
        <p class="fs-2">Registration</p>
        <div class="alert alert-danger wrong-pas">
            <strong>WOW! </strong> Wrong password!
        </div>
        <form action="/action_page.php" class="was-validated mb-5 ">
            {% csrf_token %}
            {% for form in form_sign_up %}
                <div class="mb-3 mt-3">
                    <label for="{{ form.for_id }}" class="form-label">{{ form.Name }}:</label>
                    <input type="{{ form.type }}" maxlength="20" class="form-control log_in " autocomplete="off" id="{{ form.for_id }}"
                           placeholder="{{ form.placeholder}}" name="{{ form.name }}"
                           required>
                </div>
            {% endfor %}

            <div class="mb-4 mt-3">
                <label for="formFileSm" class="form-label">Upload:</label>
                <br>
                <button type="button" class="btn btn-outline-dark "><label for="formFileSm" class="form-label">Upload
                    your avatar &#x1F47B</label></button>
                <input class="form-control form-control-sm log_in" id="formFileSm" type="file" style="display: none">

            </div>

            <button type="submit" class="btn btn-info me-3">Register!</button>

        </form>
    </div>
{% endblock content %}
