{% load static %}

<div class="row answer ">
    <div class="col-3 ">
        <img class="avatar rounded img-thumbnail" {% if  answer.author.profile.avatar%} src="{{ answer.author.profile.avatar.url}} {% else %} src ='#' {% endif %}">
        <div class="btn-group btn-group-sm fs-5">
            {{ answer.rating }}
            <button type="button" class="btn btn-dark fire">&#128293</button>
            <button type="button" class="btn btn-light ">&#128169</button>
        </div>
    </div>
    <div class="col-9">
        <div>{{ answer.content|truncatewords:40}}
        </div>
        <br>
        <button type="button" class="btn btn-primary mx-5">
            Correct
            <input class="form-check-input mx-2" type="checkbox" name="correct"  {% if answer.is_correct == True %} checked {% endif %}>
        </button>
    </div>
</div>