{% load static %}

<div class="row answer ">
    <div class="col-3 ">
        <img class="avatar rounded img-thumbnail" {% if  answer.author.profile.avatar%} src="{{ answer.author.profile.avatar.url}} {% else %} src ='#' {% endif %}">
        <div class="btn-group btn-group-sm fs-5">
            <form>
            <button type="button" data-id="{{ answer.id }}" data-object="answer" data-type="1" class="btn btn-dark button-vote">{{ answer.votes.likes.count }}&#128293</button>
            <button type="button" data-id="{{ answer.id }}" data-object="answer" data-type="-1" class="btn btn-light button-vote">{{ answer.votes.dislikes.count }}&#128169</button>
            </form>
        </div>
    </div>
    <div class="col-9">
        <div>{{ answer.content|truncatewords:40}}
        </div>
        <br>
        <button type="button" class="btn btn-primary mx-5">
            Correct
            <input class="form-check-input mx-2 correct_answer" data-question-id="{{ answer.question.id }}" data-answer-id = '{{ answer.id }}' type="checkbox" name="correct"  {% if answer.is_correct == True %} checked {% endif %}>
        </button>
    </div>
</div>