{% load static %}

<div class="align-items-end text-end">
                <a href="{% url "ask" %}"><button type="button" id="ASK" class="btn btn-info">ASK</button></a>
                <img src="{{ request.user.profile.avatar.url }}" alt="ava" class="mini-ava rounded ">
                <a href="{% url "settings"%}" class="fs-5 d-inline text-white mini_name">{{ request.user.username }}</a>
                <a href="{% url "settings"%}"><button type="button" class="btn btn-light me-3 but_log_out">Settings</button></a>
                <a href="{% url "logout"%}" ><button type="button" class="btn btn-outline-warning ">Log out</button></a>
            </div>