{% load static %}
<div class="row question ">
    <div class="col-3 ">
        <img class="avatar rounded img-thumbnail" {% if question.author.profile.avatar %}
             src="{{ question.author.profile.avatar.url }}" {% else %} src="#" {% endif %} alt="">
        <div class="btn-group btn-group-sm fs-5">


            <form>
                <button type="button" data-id="{{ question.id }}" class="btn btn-dark  button-like">{{ question.votes.likes.count }} &#128293</button>
                <button type="button" data-id="{{ question.id }}" class="btn btn-light  button-dislike">{{ question.votes.dislikes.count }} &#128169</button>
            </form>
        </div>
    </div>
    <div class="col-9 ">
        <a href="{{ question.get_absolute_url }}" class="fs-2">
            <h2>{{ question.title }}</h2>
        </a>
        {% if full == 'true' %}
            <div class="overflow-hidden">{{ question.content| linebreaks }}</div>
        {% else %}
            <div class="overflow-hidden">{{ question.content| linebreaks| truncatewords:40 }}</div>
        {% endif %}
        <br>
        <button type="button" class="btn btn-warning mx-5">
            Answers <span class="badge bg-danger">{{ question.answers.count }}</span>
        </button>
        <button type="button" class="btn btn-warning ">
            Tags:
            {% for tag in question.tag.all %}
                <span class="badge {% cycle "bg-dark" "bg-primary" "bg-danger" %}">{{ tag.tag }}</span>
            {% endfor %}

        </button>

    </div>
</div>